.auth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100vh;
.auth__container{
    display: flex;
    justify-content: center;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
&__box {
    background-color: var(--background-second);
    display: inline-block;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    &--title{
        text-align: center;
    }
    &--form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 40px;
        &-inputs{
            display: grid;
            grid-template-columns: 1.3fr 3fr;
            align-items: center;
        }
    }
    &--toggle{
        margin-top: 7px;
        display: flex;
       justify-self: flex-end;
      
    }
    &--buttons {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
.auth__img {
    width: auto;
    height: 100%; 
    background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url('../../assets/login.jpg');
    background-size: cover;
  }
}

.toggle{
    background-color: transparent;
    padding: 0;
    &:hover {
        background-color: transparent;
    }
}