@use "../../styles/breakpoints.scss" as bp;

.ViewAnswerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;

  &__container {
    background-color: var(--background-second);
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    padding: 15px;
    background-color: var(--background-color);
    border-radius: 6px;
  }
}

@include bp.phone {
  .ViewAnswerPage {
    padding: 10px;

    &__container {
      padding: 20px;
      gap: 15px;
    }

    &__item {
      padding: 10px;
    }
  }
}