@use "../../styles/breakpoints.scss" as bp;

.profileForm, .profileEdit{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    &__container{
    background-color: var(--background-second);
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}
.profileForm{
    &__container{
    gap: 10px;
    &--button{
        margin-top: 20px;
    }
}
}
.profileEdit{
    &__container{
    gap: 30px;
    &--inputs{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &--buttons{
        display: flex;
        gap: 10px;
        align-self: center;
    }
}
}


@include bp.phone {
  .profileForm,
  .profileEdit {
    gap: 30px;

    &__container {
      padding: 20px;
      width: 90%;
      max-width: 400px;
      gap: 15px;

      p,
      label,
      input {
        width: auto;
      }

      &--button {
        width: 100%;
      }

      &--buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-self: center;

        button {
          width: 100%;
        }
      }
    }
  }
}