.userList {
  margin-top: 20px;
}

.adminPanel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  &__buttons {
    display: flex;
    gap: 20px;
  }

  &__management {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__userList {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 10px;
    }
  }

  &__managementButtons {
    display: flex;
    gap: 20px;
  }
}