.dashboard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  &__container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}



.dashboard__container {
  display: flex;
  overflow-x: auto;
  padding: 16px 0;
}